/*After learning about variables in class, I decided it would be handy to make my own root variables for the colour scheme of my portfolio, as I feel it would make it easier for me to tweak the colour scheme*/

:root {
    --bg: #f5f5f5;
    --main: #71d7b0;
    --minor: #ffb5b5;
    --shadow: #7f7f7f;
    --text: black;
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    max-width: 1920px;
}
/*added smooth scroll to the entire page so that when the links in the nav bar are clicked, it isn't an abrupt transition*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
}
/*header section*/
header {
    background-color: var(--main);
    max-width: 1920px;
    height: auto;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--bg);
    font-family: 'Varela Round', sans-serif;
    font-size: 60px;
    text-shadow: 2px 2px var(--shadow);
    padding-left: 20px;
    margin: 0px;
}
/*nav bar: I went with flexbox to arrange the navigation bar*/
nav {
   background-color: var(--minor);
   height: 40px; 
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; 
  max-width: 1920px; 
}

.flexbox a {
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-shadow: 1px 1px var(--shadow);
    color: var(--bg);
    text-decoration: none;
}

.flexbox a:hover {
    color: var(--shadow);
    text-shadow: 1px 1px var(--bg);
}
/*content area*/
.contentGrid {
    display: block;
    max-width: fit-content;
    /*
    
    - I decided to revert back to block display on the content area to make it look sleeker, as there were too many gaps etc using a grid
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "about-me my-work"
    "contact-me my-work";
    max-width: 1920px;*/
}

.about-me {
    grid-area: about-me;
}

.my-work {
    grid-area: my-work;
}

.contact-me {
    grid-area: contact-me;
}

/*I created a nested grid for the about me section of the portfolio to neaten things up*/

.about-me {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "aboutHeading aboutHeading"
    "prof-pic aboutText";
}

#aboutHeading {
    grid-area: aboutHeading;
    text-align: center;
}

#prof-pic {
    grid-area: prof-pic;
    padding: 20px;
}

#prof-pic img {
    max-width: 400px;
    border-radius: 10px;
}

#aboutText {
    grid-area: aboutText;
}

h2{
    color: var(--bg);
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px var(--shadow);
}

p {
    
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text);
    margin: 30px;
}

.about-me, .contact-me {
    background-color: var(--main);
    margin: 30px;
    border-radius: 25px;
    box-shadow: 2px 2px var(--shadow);
}
/* Created a nested grid for the my work section. The first application has to span the top row as outlined in the brief*/
.my-work {
    background-color: var(--minor);
    margin: 30px;
    padding: 30px;
    padding-top: 0;
    border-radius: 25px;
    box-shadow: 2px 2px var(--shadow);
}

.nestedapp {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas:
    "workHeading workHeading" 
    "app1 app1"
    "app2 app3"
    "app4 app5";
}

#app1 {
    grid-area: app1;
}

#app1 img {
    width: 100%;
}

#app2 {
    grid-area: app2;
}

#app3 {
    grid-area: app3;
}

#app4 {
    grid-area: app4;
}

#app5 {
    grid-area: app5;
}

#app2, #app3, #app4, #app5 img {
    padding: 10px;
    margin: 10px;
}

.container {
    position: relative;
    width: 100%;
}

.image {
    width: 100%;
    height: auto;
}

#overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: var(--bg);
    text-shadow: 1px 1px var(--shadow);
}

.container:hover #overlay {
    opacity: 1;
  }

#workHeading {
    grid-area: workHeading;
}

.my-work h2 {
    text-align: center;
}

.contact-me {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    box-shadow: 2px 2px var(--shadow);
}

#email {
    margin: 20px;
    padding: 50px;
    background-image: url(./images/email.jpeg);
    background-size: cover; 
    background-repeat: no-repeat;
    border-radius: 10px;
}

#linkedin {
    margin: 20px;
    padding: 50px;
    background-image: url(./images/linkedin.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#github {
    margin: 20px;
    padding: 50px;
    background-image: url(./images/coding.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.contact-me a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: var(--bg);
    font-size: 18px;
    text-shadow: 1px 1px var(--shadow);

}

.contact-me a:hover {
    color: var(--shadow);
    text-shadow: 1px 1px var(--bg);
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
}

footer p {
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* added some media queries to make my page more responsive to smaller screens. the navigation bar will disappear on screens smaller than 750px and the content in the about me and my work sections will display in blocks/singular column.*/

@media only screen and (max-width: 750px) {
   
    .flexbox {
        display: none;
        margin-left: auto;
    }
  }
  
  @media only screen and (max-width: 600px) {
    header {
      position: static;
    }

    .about-me {
        display: block;
    }

    .nestedapp {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "workHeading"
        "app1"
        "app2"
        "app3"
        "app4"
        "app5"
      ;
    }
  }