/*After learning about variables in class, I decided it would be handy to make my own root variables for the colour scheme of my portfolio, as I feel it would make it easier for me to tweak the colour scheme*/

:root {
    --bg: #f5f5f5;
    --main: #71d7b0;
    --minor: #ffb5b5;
    --shadow: #7f7f7f;
    --text: black;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--bg);
}
/*header section*/
header {
    background-color: var(--main);
    margin-top: 0px;
}

h1 {
    color: var(--bg);
    font-family: 'Varela Round', sans-serif;
    font-size: 60px;
    text-shadow: 2px 2px var(--shadow);
    padding-left: 20px;
    margin: 0px;
}
/*nav bar: I went with flexbox to arrange the navigation bar*/
nav {
   background-color: var(--minor);
   height: 40px; 
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;  
}

.flexbox a {
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-shadow: 1px 1px var(--shadow);
    color: var(--bg);
    text-decoration: none;
}

.flexbox a:hover {
    color: var(--shadow);
    text-shadow: 1px 1px var(--bg);
}
/*content area - I created a simple CSS grid to arrange each content card of the portfolio*/
.contentGrid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "about-me my-work"
    "contact-me my-work";
}

.about-me {
    grid-area: about-me;
}

.my-work {
    grid-area: my-work;
}

#contact-me {
    grid-area: contact-me;
}

/*I created a nested grid for the about me section of the portfolio to neaten things up*/

.about-me {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "aboutHeading aboutHeading"
    "prof-pic aboutText";
    max-width: 500px;
    max-height: 500px;
}

#aboutHeading {
    grid-area: aboutHeading;
}

#prof-pic {
    grid-area: prof-pic;
    padding: 20px;
}

#prof-pic img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 10px;
}

#aboutText {
    grid-area: aboutText;
}

h2{
    color: var(--bg);
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px var(--shadow);
    padding-left: 30px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text);
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.about-me, #contact-me {
    background-color: var(--main);
    margin: 30px;
    border-radius: 25px;
    box-shadow: 2px 2px var(--shadow);
}
/* Created a nested grid for the my work section. The first application has to span the top row as outlined in the brief*/
.my-work {
    background-color: var(--minor);
    margin: 30px;
    border-radius: 25px;
    box-shadow: 2px 2px var(--shadow);
}

.nestedapp {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas: 
    "app1 app1"
    "app2 app3"
    "app4 app5";
}
#workHeading {
    grid-area: workHeading;
}

#app1 {
    grid-area: app1;
    background-image: url(./images/placeholder.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 20px;
}

#app2, #app3, #app4, #app5 {
    background-image: url(./images/placeholder.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 20px;
}

#app2 {
    grid-area: app2;
}

#app3 {
    grid-area: app3;
}

#app4 {
    grid-area: app4;
}

#app5 {
    grid-area: app5;
}

.my-work h2 {
    text-align: right;
    padding-right: 30px;
    margin-top: 20px;
}

h3 {
    font-family: 'Varela Round', sans-serif;
    color: var(--bg);
    text-shadow: 1px 1px var(--shadow);
}

.content #contactme {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    align-content: center;
    margin: 10px;
    box-shadow: 2px 2px var(--shadow);
}

#email {
    margin: 20px;
    padding: 50px;
    background-image: url(./images/email.jpeg);
    background-size: cover; 
    background-repeat: no-repeat;
    border-radius: 10px;
    
}

#linkedin {
    margin: 20px;
    padding: 50px;
    background-image: url(./images/linkedin.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#github {
    margin: 20px;
    padding: 50px;
    background-image: url(./images/coding.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#contact-me a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: var(--bg);
    font-size: 18px;
    text-shadow: 1px 1px var(--shadow);

}

#contact-me a:hover {
    color: var(--shadow);
    text-shadow: 1px 1px var(--bg);
}

footer p {
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}